.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.galeria img{
  width: 20%;
  border: 1px solid #ddd;
  padding: 0.3rem;
  margin: 0.1rem;
  box-sizing: border-box;
  margin-bottom: 10px;
}