
.bienvenidos{
  width: 75%;
  padding-right: 10px;
  box-sizing: border-box;
}
.bienvenidos p{
  font-size: 20px;
}
.columnas{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.testimonios{
  width: 25%;
}
.testimonio{
  background-color: #ccc;
  padding: 16px;
}
.testimonio .cita{
  font-weight: bold;
  font-style: italic;
  background-color: yellow;
  font-size: 22px;
  display: block;
}
.testimonio .autor{
  font-size: 10px;
  text-align: center;
  background-color: lightcoral;
  display: block;
  margin: 12px 0;
}