.novedades{
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 20px;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  background: linear-gradient(to bottom, #ffffff, #f8f9fa);
  transition: transform 0.1s, box-shadow 0.3s;
}
.novedades h2{
  text-align: center;
  color: #007bff;
  border-bottom: 3px solid #007bff;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.novedades img{
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.novedades:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
