<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva novedad</h4>
            {{#if error}}
            <h5>{{message}}</h5>
            {{/if}}
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título">
                </div>
                <div class="mb-3 row">
                    <textarea name="subtitulo" id="subtitulo" class="form-control" placeholder="Subtítulo"></textarea>
                </div>
                <div class="mb-3 row">
                    <textarea name="cuerpo" id="cuerpo" class="form-control" placeholder="Cuerpo"></textarea>
                </div>
                <div class="form-group">
                    <label for="imagen" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="imagen" name="imagen">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Guardar</button>
            </form>
        </div>
    </div>
</div>